footer {
  color: #c2c2c2;
  padding: 2rem 0;
  @include tablet {
    font-size: 16px *.9;
  }
  @include desktop {
    padding-left: 2rem;
    text-align: left;
  }
  span {
    text-transform: uppercase;
  }
}
